<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Users List</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Users List</h1>
      <a href="/users/create" class="btn btn-primary">Create New User</a>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <a href="/users/edit/<%= user.id %>" class="btn btn-edit">Edit</a>
              <a
                href="/users/delete/<%= user.id %>"
                class="btn btn-delete"
                onclick="return confirm('Are you sure?')"
                >Delete</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
